* {box-sizing: border-box;} 

#airtravel-hollie{
    background-color: #f2e1d1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;

    button.airbutton2{
        padding: 10px;
        margin-left: 15px;
        color: #000000;
        text-align: center;
        justify-content: center;
        border: none;
        background-color: #ffffff;
        cursor: pointer;
    }
    input.airbutton3{
        padding: 10px;
        margin-left: 15px;
        color: #000000;
        text-align: center;
        justify-content: center;
        border: none;
        background-color: #ffffff;
        cursor: pointer;
    }
}
#airtravel-hollie.formtitles{
    size: 12pt;
    background-color: #57828e;
    
}
#hollie-wrapper{
    background-color: #f2e1d1;
    color: #000000;

    body{
        background-color: #f2e1d1;
    }

    .row:after{
        content: "";
        clear: both;
        display: block;
    }
    [class*="col-"] {
        float: left;
        padding: 15px;
    }
    
    .header{
        background-color: #6e9aa6;
        color: #ffffff;
        padding: 15px;
    }
    button.signin{
        position: absolute;
        font-weight: bold;
        top: 5px;
        right: 0;
        transition-duration: 0.4s;
    }
    button.signin:hover{
        background-color: #e0e0e0;
        color: #000000;
    }
    .signin{
        padding: 10px;
        color: #000000;
        text-align: center;
        border: none;
        background-color: #ffffff;
        cursor: pointer;
    }
    .airimage{
        width: 250px;
        height: 200px;
    }
    /*for unordered list inside the menu class, do the following*/
    .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    /*for list item inside menu class do the following*/
    .menu li {
        padding: 8px;
        margin-bottom: 7px;
        background-color: #6e9aa6;
        opacity: 75%;
        color: #ffffff;
    /*shadow on the box, barely visible*/
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    /*when mouse hovers  over the list item, change colour to following*/
    .menu li:hover {
        background-color: #57828e;
    }

    /* FORM DESIGN */
    .fdesign{
        padding: 10px;
        text-align: center;
        background-color: #a6917e;
    }
    #date{
        padding: 10px;
        margin: 5px;
    }
    #sub{
        padding: 10px;
        background-color: #f2e1d1;
        opacity: 65%;
        border: 0.5px 0.5px 0.5px 0.5px;
        border-color: #000000;
        font-weight: bolder;
    }

    /*for aside class do the following*/
    .aside{
        background-color: #6e9aa6;
        opacity: 75%;
        padding: 15px;
        color: #ffffff;
        text-align: center;
        font-size: 14px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    .airform{
        background-color: #57828e;
        padding: 10px;
        opacity: 75%;
        .airbutton{
            padding: 10px;
            margin-left: 140px;
            color: #000000;
            text-align: center;
            justify-content: center;
            border: none;
            background-color: #ffffff;
            cursor: pointer;
        }
        .air-grab{
            background-color: #57828e;
            opacity: 75%;
        }
        .air-submit{
            padding: 10px;
            margin-left: 140px;
            color: #000000;
            text-align: center;
            border: none;
            background-color: #ffffff;
            cursor: pointer;
        }
        .formtitles{
            background-color: #57828e;
            opacity: 75%;
        }
        .air-input{
            padding: 5px;
            text-align: center;
        }

    }
    .footer{
        background-color: #6e9aa6;
        color: #ffffff;
        text-align: center;
        font-size: 12px;
        padding: 15px;
    }

    /* for desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}