[class*="col-"] {
  float: left;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #161f6d;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

header {
  height: 75px;
  text-align: center;
  color: #f2f2f2;
  font-size: 40px;
}

nav {
  border-bottom: 1px solid;
  border-top: 1px solid;
  color: #00abe1;
}

nav a {
  float: none;
  display: block;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  padding: 12px 10px;
}

nav a:hover {
  background-color: #00abe1;
  color: black;
}

.info-bar {
  color: white;
  text-align: center;
  padding-top: 55px;
  padding-bottom: 55px;
  border-bottom: 1px solid;
  border-color: #00abe1;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  color: #f2f2f2;
  text-align: center;
  font-size: 10px;
}

.slideshow {
  position: relative;
  margin-top: 50px;
}

.slideshow .slideshow-image {
  max-height: 600px;
  width: 100%;
}

.slideshow .slideshow-slides {
  display: none;
}

.slideshow .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slideshow .slideshow-text {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #161f6d;
  color: #f2f2f2;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 8px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #00abe1;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.infobox {
  color: #f2f2f2;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  padding-top: 20px;
  border-color: #00abe1;
}

.infobox .infobox-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: solid 2px;
  border-color: #00abe1;
}

form {
  color: #f2f2f2;
  margin-top: 50px;
  text-align: center;
  padding-bottom: 50px;
  border-bottom: solid 1px;
  border-color: #00abe1;
}

form label {
  display: inline-block;
  width: 150px;
  text-align: left;
}

form input[type=text], form input[type=password], form input[type=email] {
  width: 20%;
  display: inline-block;
  border: 1px solid #f2f2f2;
  margin: 10px;
}

form select {
  width: 30%;
  height: 30px;
  text-align: center;
}

input[type=submit] {
  width: 35%;
  height: 50px;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #00abe1;
  color: #f2f2f2;
}

table {
  color: #f2f2f2;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid;
  border-color: #00abe1;
  margin-bottom: 50px;
}

table th {
  width: 400px;
  padding-bottom: 20px;
}

table tr {
  text-align: center;
}

.dropdown {
  display: none;
}


/* DESKTOP */
@media only screen and (min-width: 1000px) {
  .col-1 {
    width: 8.33%;
    min-width: 8.33%;
    min-height: 1px;
    float: left;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  header {
    font-size: 65px;
  }
  nav a {
    float: left;
  }
  nav .nav-right {
    float: right;
  }
  .infobox .infobox-img {
    width: 250px;
    height: 250px;
  }
  input[type=submit] {
    width: 25%;

  }
  .dropbtn {
    background-color: #161f6d;
    font-size: 14px;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 12px 10px;
    color: #f2f2f2;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:#f2f2f2;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
  }
  
  .dropdown-content a {
    color: black;
    text-decoration: none;
    text-align: center;
    width: 100%;
    border: solid 1px;
  }
  .dropdown-content a:hover {
    background-color:#00abe1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropbtn {
    background-color:#00abe1;
    color: black;
  }
  .mobiletravel {
    display:none;
  }
}



@media only screen and (min-width: 600px) and (max-width:1000px) {
  .infobox .infobox-img {
    width: 250px;
    height: 250px;
  }
}
/*# sourceMappingURL=main.css.map */