{% extends "oscar/main.html" %}
{% block title %}Index{{ super() }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block pagecontent %}
    <div class="col-12"></div>
    
    <div class="col-1"></div>
    <div class="col-10 info-bar"> 
        {% if session.logged_in %} Welcome {{ username }} 
            <br/>
            <br/>
            <a href="{{ url_for('oscarlogout') }}"><input type="submit" value="Logout"></a>                  
        {% else %} Welcome to UWE Taxi Travel. The best and fastest taxi's in the industry. <br/>
            <p style="color: red;">{{error}}</p>
        {% endif %} 
    </div>
    <div class="col-1"></div>

    <div class="col-12"></div>

    <div class="col-1"></div>
    <div class="col-10">
        <div class="slideshow">
            <div class="slideshow-slides fade">
                <img class="slideshow-image" src="static/images/oscar/taxi-image-1.jpg">
            </div>
            <div class="slideshow-slides fade">
                <img class="slideshow-image" src="static/images/oscar/taxi-image-2.jpg">
            </div>
            <div class="slideshow-slides fade">
                <img class="slideshow-image" src="static/images/oscar/taxi-image-3.jpg">
            </div>
            <div class="slideshow-text">
                <h1>UWE Taxi Travel</h1>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
    
    <div class="col-12"></div>

    <div class="col-1"></div>
    <div class="infobox leftimage col-3">
        <img class="infobox-img" src="static/images/oscar/fast-taxi.jpg" alt="taxiimage1">
        <p>Drive fast. </p>
        <p>UWE has the fastest drivers.</p>
    </div>
    <div class="infobox col-4">
        <img class="infobox-img" src="static/images/oscar/cool-taxi.jpg" alt="taxiimage2">
        <p>Drive in style. </p>
        <p>UWE drivers have the most style </p>
    </div>
    <div class="infobox col-3">
        <img class="infobox-img" src="static/images/oscar/night-taxi.jpg" alt="taxiimage3">
        <p>Drive in the dark. </p>
        <p>UWE drivers can see in the dark. </p>
    </div>
    <div class="col-1"></div>
{% endblock %}
        
{% block pagejavascript %}
        <script>
            var slideIndex = 0;
            showSlides();

            function showSlides() {
            var i;
            var slides = document.getElementsByClassName("slideshow-slides");
            for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}
            slides[slideIndex-1].style.display = "block";
            setTimeout(showSlides, 6000); // Change image every 2 seconds
            } 
        </script>
{% endblock %}
        </div>
    </body>
</html>