{% extends "oscar/main.html" %}
{% block title %}Login{{ super() }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block pagecontent %}
    <div class="col-12"></div>
    <div class="col-1"></div>
    <div class="col-10 info-bar">Log in to your account.  </div>
    <div class="col-1"></div>

    <div class="col-12"></div>

    <div class="col-1"></div>
    {% if session.logged_in %} 
        <div class="col-10"> <p>You are already logged in as: {{ username }} </p></div>
    {% else %}
        <form class="col-10 login-form" action="/oscarlogin" method="POST">
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" autocomplete="off" name="username" value="{{request.form.username}}" required>
            </br>
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" autocomplete="off" name="password" value="{{request.form.password}}" required>
            </br>
            </br>
            <input type="submit" value="Login">
        </form>
    {% endif %}
    <div class="col-1"></div>
    
    <div class="col-12"></div>

    <div class="col-1"></div>
    <div class="col-10">
        <p style="color: red; text-align: center; margin-bottom: 50px;">{{error}}</p>
    </div>
    <div class="col-1"></div>
    
{% endblock %}
        