{% extends "oscar/main.html" %}
{% block title %}Lookup{{ super() }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block pagecontent %}
    <div class="col-12"></div>

    <div class="col-1"></div>
    <div class="col-10 info-bar">Find any route you are looking for. <br>
                             Rates are £1 per mile and vary depending on number of passengers.  </div>
    <div class="col-1"></div>

    <div class="col-12"></div>


    <div class="col-1"></div>
    <form class ="col-10" action="/oscar_show_route" method="GET">
        <label for="leaving"><b> Leaving from: </b></label>
        <select name="leaving">
            {% for row in resultset %}
            <option value="{{row[0]}}"> {{row[0]}} </option>
            {% endfor %}    
        </select>
        </br>
        </br>
        <input type="submit" value="Lookup Route">
    </form> 
    <div class="col-1"></div>
{% endblock %}

