<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %} - UWE Travel Service {% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'stylesheets/oscar.css') }}" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% endblock %}
    </head>
    <body> 
        <header class="col-12">{% block header %} UWE Taxi Travel {% endblock %}</header>
        
        {% block nav %}
        <div class="col-1"></div>
        <nav class="col-10">
            <div class="nav-left">
                <a class="active" href="{{ url_for('oscarindex') }}"><i class="fa fa-home"></i> Home</a>
                <a href="{{ url_for('oscarlookup') }}"><i class="fa fa-search"></i> Lookup</a>
                <a href="{{ url_for('oscarlogin') }}"><i class="fa fa-lock"></i> Login</a>
                <a href="{{ url_for('oscarregister') }}"><i class="fa fa-lock"></i> Register</a>
                <a href="{{ url_for('oscarbookings') }}""><i class="fa fa-lock"></i> Bookings</a>
             </div>
            <div class="nav-right">
                <a href="#home"><i class="fa fa-bars"></i> Other Travel</a>
            </div>
        </nav>
        <div class="col-1"></div>
        {% endblock %}

        {% block pagecontent %} 
        {% endblock %}
        
        {% block pagejavascript %}
        {% endblock %}
        
        {% block footer %}
            <footer></br>&copy Oscar Averill</footer>
        {% endblock %}
    </body>