{% extends "oscar/main.html" %}
{% block title %}Register{{ super() }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block pagecontent %}
    <div class="col-12"></div>

    <div class="col-1"></div>
    <div class="col-10 info-bar">Register your account.  </div>
    <div class="col-1"></div>

    <div class="col-12"></div>

    <div class="col-1"></div>
    <form class="col-10 register-form"  action="/oscarregister" method="POST">
        <label for="username"><b> Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required value="{{request.form.username}}">
        </br>
        <label for="password"><b> Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required value="{{request.form.password}}">
        </br>
        <label for="password"><b> Email</b></label>
        <input type="email" placeholder="Enter Email" name="email" required value="{{request.form.email}}">
        </br>
        </br>
        <input type="submit" value="Register">
        </br>
        </br>
        <p style="color: red;">{{error}}</p>
    </form>
    <div class="col-1"></div>
{% endblock %}


