{% extends "oscar/main.html" %}
{% block title %}Admin{{ super() }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block pagecontent %}
<div class="col-12"></div>

<div class="col-1"></div>
<div class="col-10 info-bar"> 
    Admin Page
    <br/>
    <br/>
    <a href="{{ url_for('oscarlogout') }}"><input type="submit" value="Logout"></a>  
</div>
<div class="col-1"></div>

<div class="col-12"></div>

<div class="col-1"></div>
<div class="col-10">
    <br/>
    <br/>
    <a href="{{ url_for('oscar_admininsert') }}"><input type="submit" value="Add route"></a>
    <br/>
    <br/>
    <a href="{{ url_for('oscar_adminroutes') }}"><input type="submit" value="View/delete routes"></a>

</div>
<div class="col-1"></div>
{% endblock %}

