{% extends "oscar/main.html" %}
{% block title %}Admin{{ super() }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block pagecontent %}
    <div class="col-12"></div>

    <div class="col-1"></div>
    <div class="col-10 info-bar"> 
        Admin Page
    </div>
    <div class="col-1"></div>

    <div class="col-12"></div>

    <div class="col-1"></div>
    <div class="col-10">
        <form action="/oscaradmininsert" method="POST">
            <label for="leaving"><b> Leaving: </b></label>
            <input type="text" placeholder="" autocomplete="off" name="leaving" required value="{{request.form.leaving}}">
        </br>
            <label for="leavingtime"><b> Leaving time:</b></label>
            <input type="time" placeholder="" autocomplete="off" name="leavingtime" required value="{{request.form.leavingtime}}">
        </br>
            <label for="arrival"><b> Arrival: </b></label>
            <input type="text" placeholder="" autocomplete="off" name="arrival" required value="{{request.form.arrival}}">
        </br>
            <label for="arrivaltime"><b> Arrival time: </b></label>
            <input type="time" placeholder="" autocomplete="off" name="arrivaltime" required value="{{request.form.arrivaltime}}">
        </br>
            <label for="miles"><b> Miles: </b></label>
            <input type="number" placeholder="" autocomplete="off" name="miles" required value="{{request.form.miles}}">
        </br>
        </br>
            <input type="submit" value="Insert route">
        </br>
        </br>
            <p style="color: red;">{{msg}}</p>
        </form>
    </div>
    <div class="col-1"></div>
{% endblock %}
