{% extends "oscar/main.html" %}
{% block title %}Admin{{ super() }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block pagecontent %}
<div class="col-12"></div>

<div class="col-1"></div>
<div class="col-10 info-bar"> 
    Admin Page
</div>
<div class="col-1"></div>

<div class="col-12"></div>

<div class="col-1"></div>
    <div class="col-10"> <form class="logout-form" action="/oscarlogout">
    <input class="logout-input" type="submit" value="Logout"></form>
    <br>
    <p style="color: red;">{{msg}}</p>
</div>
<div class="col-1"></div>

<div class="col-12"></div>

<div class="col-1"></div>
<div class="col-10">
    <a href="{{ url_for('oscar_admininsert') }}"> Insert new route</a>
    <a href="{{ url_for('oscar_adminroutes') }}"> Show/delete routes</a>
</div>
<div class="col-1"></div>
{% endblock %}

