{% extends "oscar/main.html" %}
{% block title %}Admin{{ super() }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block pagecontent %}
    <div class="col-12"></div>

    <div class="col-1"></div>
    <div class="col-10 info-bar"> 
        Admin Page
    </div>
    <div class="col-1"></div>

    <div class="col-12"></div>

    <div class="col-1"></div>
        <div class="col-10"> 
        <p style="color: red;">{{msg}}</p>
        </div>
    <div class="col-1"></div>

    <div class="col-12"></div>

    <div class="col-1"></div>
    <div class="col-10">
        <form action="/oscaradminremoveroute" method="GET">
            <table>
                <tr>
                    <th> Leaving </th>
                    <th> Leaving time </th>
                    <th> Arrival </th>
                    <th> Arrival time </th>
                    <th> Delete route? </th>
                </tr>
                {% for row in resultset %}
                <tr>
                    <td> {{row[1]}} </td>
                    <td> {{row[2]}} </td>
                    <td> {{row[3]}} </td>
                    <td> {{row[4]}} </td>
                    <td> <input type="radio" name="removeroute" value="{{row[0]}}"></td>
                </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Remove route">
        </form>
    </div>
{% endblock %}

