{% extends "hollie/airTravelhomeDesign.html" %}
{% block content %}
<h1>Comfirmation of your booking</h1>
<h3>Thank you for choosing Tosjosumbalie Travel</h3>
<!--[journeyid, departcity, arrivalcity, outdate, returndate, adultseats, childseats, totalfare, bookingid, deptTime, arrivTime]-->
<form class="airform" action="/varDump/" method="POST">
Booking ID: {{ resultset[9] }} <br/>
User ID: {{ resultset[8] }} <br/>
Departure City : {{resultset[1]}} <br/>
Departure Date : {{resultset[3]}} <br/>
Departure Time : {{resultset[10]}} <br/>
Arrival City : {{resultset[2]}} <br/>  
Arrival Time : {{resultset[11]}} <br/>
Return Date : {{resultset[4]}} <br/>
Adult Seats : {{resultset[6]}} <br/>
Child Seats : {{resultset[5]}} <br/>
Total Fare : {{resultset[7]}} <br/>
Payment: Card ending with ****** {{cardnumber}} <br/>
<input type="hidden" name="totalfare" value="{{resultset[7]}}" /> 
<input type="hidden" name="bookingid" value="{{resultset[9]}}" />   
<input class="airbutton" type="submit" value="View your receipt" /> 
</form>  
<a href="{{ url_for('airtravelhome') }}" class="airbutton">Go to Home Page</a>
</p>
{% endblock %}