{% extends "hollie/airTravelhomeDesign.html" %}
{% block content %}
    <html>
        <head>
        <script>
        function getarrivalcity(deptcity)    
        {
              var req = new XMLHttpRequest();        
              arrivalslist = document.getElementById('arrivalslist');        
              
              req.onreadystatechange = function(){
                  if (req.readyState == 4){
                      if (req.status != 200){
                          //error handling code here
                      }
                      else{
                          var response = JSON.parse(req.responseText);                   
                          //document.getElementById('myDiv').innerHTML = response.username
                          var size = response.size;                   
                          //alert(response.returncities[0]);
                          for (var x=0; x < arrivalslist.length; x++){
                              arrivalslist.remove(x);                        
                          }
                          
                          for (var i=0; i < size; i++){  
      
                                  arrivalslist.add(new Option(response.returncities[i], response.returncities[i]));    
                          }
                             // var option = document.createElement("Option");
                              //option.text = response.returncities;
                              //arrivalslist.add(option);
                      }
                  }
              }
              req.open('GET', '/airtravelarrival/?q='+deptcity);
              req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");   
              req.send(); 
              return false;
        }
        function checkdate()
        {
            outdate = document.querySelector('#outdate').value;
            returndate = document.querySelector('#returndate').value;
            getdate1 = new Date(outdate);
            whtoutdate = outdate.getDay(outdate)
            if (whtoutdate = 0){
                document.getElementById("errordate1").innerHTML = 'Closed on Sunday';
            }
            getdate2 = new Date(returndate);
            whtreturndate = returndate.getDay(returndate)
            if (whtreturndate = 0){
                document.getElementById("errordate2").innerHTML = 'Closed on Sunday';
            }
        }
        </script>
      </head>
      <body>
      <h1> Demo Example - associated drop down lists </h1>
        <form class="airform" action="/airtravelbookingselect/" method="POST"> 
            Select departure city: 
            <select class="air-grab" name="departureslist" onchange="getarrivalcity(this.value)">
            {% for leaving in leavinglist %}
                  <option value="{{leaving}}"> {{leaving}} </option>	    
            {% endfor %} 
            </select>       
            <br />
            Select arrival city:
            <select class="air-grab" id="arrivalslist" name="arrivalslist"></select>
            <br/>
            Select outgoing date:
            <input class="air-grab" type="date" onclick="checkdate()" name="outdate" id="outdate" required />
            <p id="errordate1"></p>
            <br/>
            Select return date:
            <input class="air-grab" type="date" onclick="checkdate()" name="returndate" id="returndate" required />
            <p id="errordate2"></p>
            <br/>
            Select adult seats:
            <input class="air-grab" type="number" name="adultseats" id="adultseats" required />
            <br/>
            Select child seats:
            <input class="air-grab" type="number" name="childseats" id="childseats" value=0 />
            <br/>
            <input class="air-submit" type="submit" class="airbutton" value="Proceed Booking"/>
          </form>      
      
      </body>
      </html>
      
{% endblock %}