{% extends "hollie/airTravelhomeDesign.html" %}
{% block content %}
                    
    <h1> <b>Welcome {{ username }} you have logged into your account on Air Travel</b> </h1>
    <h3> If you wish to book with another option then please choose from the options to your left</h3>
    <h3>Air Travel offers all routes chosen across the UK</h3>
    <h3>Please Note:</h3>
    <h3>Maximum seat availability is 100 per route</h3>
    <h3>This service also operates Monday - Saturday ONLY. </h3>
    
    {% if session.logged_in %} 

        <a href="{{ url_for('airtravelbooking') }}"><button class="airbutton">Find your flight now!</button></a>   
        <a href="{{ url_for('airtravelbooking_confirm') }}"><button class="airbutton">view previous booking</button></a>                 

    {% else %}
        <h3>Please register or log in before proceeding. </h3>
        <br/>  <br><br><br><br>
    {% endif %}
{% endblock %}
