{% extends "oscar/main.html" %}
{% block title %}Account Management{{ super() }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block pagecontent %}
<div class="col-12"></div>

<div class="col-1"></div>
<div class="col-10 info-bar"> 
    User Management
    <form class="logout-form" action="/oscarlogout">
        <input class="logout-input" type="submit" value="Logout"></form>
</div>
<div class="col-1"></div>

<div class="col-12"></div>

<div class="col-1"></div>
<div class="col-10">{{ error }}</div>
<div class="col-1"></div>

<div class="col-12"></div>

<div class="col-1"></div>
<div class="col-10">
    <a href="{{ url_for('oscarbookingcancel') }}"> View/cancel bookings</a>
    <a href="{{ url_for('oscaruserchangepass') }}"> Change password</a>
</div>
<div class="col-1"></div>
{% endblock %}