{% extends "oscar/main.html" %}
{% block title %}Account Management{{ super() }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block pagecontent %}
<div class="col-12"></div>

<div class="col-1"></div>
<div class="col-10 info-bar"> 
    User Management
    <br/>
    <br/>
    <a href="{{ url_for('oscarlogout') }}"><input type="submit" value="Logout"></a>     
</div>
<div class="col-1"></div>

<div class="col-12"></div>

<div class="col-1"></div>
<div class="col-10">
    <br/>
    <br/>
    <a href="{{ url_for('oscarbookingcancel') }}"><input type="submit" value="View/cancel bookings"></a> 
    <br/>
    <br/>
    <a href="{{ url_for('oscaruserchangepass') }}"><input type="submit" value="Change password"></a>
</div>
<div class="col-1"></div>

<div class="col-12"></div>

<div class="col-1"></div>
<div class="col-10"><p style="color: red;">{{error}}</p></div>
<div class="col-1"></div>
{% endblock %}