{% extends "suleima/coachlayout.html" %}
{% block content %}

<h3>Admin Page</h3>
    
<form class="coachform" action="/admininsert" method="POST">
    <label for="idroute"> Route ID: </label>
    <input class="c-input" type="number" placeholder="xxxx" autocomplete="off" name="idroute" required value="{{request.form.idroute}}">
<br>
    <label for="leaving"> Departure: </label>
    <input class="c-input" type="text" placeholder="" autocomplete="off" name="departure" required value="{{request.form.departure}}">
</br>
    <label for="leavingtime"> Departure time:</label>
    <input class="c-input" type="time" placeholder="" autocomplete="off" name="deptime" required value="{{request.form.deptime}}">
</br>
    <label for="arrival"> Arrival: </label>
    <input class="c-input" type="text" placeholder="" autocomplete="off" name="arrival" required value="{{request.form.arrival}}">
</br>
    <label for="arrivaltime"> Arrival time: </label>
    <input class="c-input" type="time" placeholder="" autocomplete="off" name="arrivaltime" required value="{{request.form.arrivaltime}}">
</br>
    <label for="price"> Ticket price: $ </label>
    <input class="c-input" type="number" step="any" placeholder="" autocomplete="off" name="price" required value="{{request.form.price}}">
</br>
</br>
    <input class="c-submit" type="submit" value="Insert route">
</br>
</br>
    <p style="color: blue;">{{msg}}</p>
</form>

{% endblock %}