{% extends "suleima/coachlayout.html" %}


{% block content %}


      <h3> Coach trip details: </h3>

<div class="tripinfo">



      Departure City : {{lookupdata[0]}} <br/>
      <input type="hidden" name="deptcity" id="deptcity" value="{{lookupdata[0]}}"/>
      Arrival City : {{lookupdata[1]}} <br/>
      <input type="hidden" name="arrivcity" id="arrivcity" value="{{lookupdata[1]}}"/>
      Trip Date : {{lookupdata[2]}} <br/>
      <input type="hidden" name="outdate" id="outdate" value="{{lookupdata[2]}}"/>
      Adult Seats : {{lookupdata[3]}} <br/>
      <input type="hidden" name="adultseats" id="adultseats" value="{{lookupdata[4]}}"/>
      Child Seats : {{lookupdata[4]}} <br/>
      <input type="hidden" name="childseats" id="childseats" value="{{lookupdata[5]}}"/>

</div>

      <table class="c_table"> 
      <tr>
          <th> Departure Time </th> 
          <th> Arrival Time </th>  
          <th> Standard fare </th> 
          <th> Total fare </th> 
          <th> Select option </th>
      </tr>
      
      {% for row in resultset %}
      <tr> 
          <td> {{row[2]}} </td> 
          <td> {{row[4]}} </td> 
          <td> {{row[5]}} </td>              
           <td> {{row[6]}} </td>
           <input type="hidden" name="totalfare" id="totalfare" value="{{row[6]}}"/>
          <td> <input type="radio" name="bookingchoice" value="{{row[0]}}" checked></td> 
      </tr> 
      
     {% endfor %} 
    </table>  
<form class="coachform" action="/booking_confirm/" method="POST">  
  <h3> Payment </h3>
    Full name on card: 
    <input class="c-input" type="text" name="cardname" id="cardname" /> <br/>
    Card number:
    <input class="c-input"  type="number" name="cardnumber" id="cardnumber" max="9999999999999999" size="16"/> <br/>
    Card expiry:
    <input class="c-input"  type="text" name="cardexpiry" id="cardexpiry" max="9999" size="4"/> <br/>
    CVV:
    <input class="c-input"  type="number" name="cvv" id="cvv" max="999" size="3"/> <br/>
    <input class="c-submit" type="submit" value="Confirm Booking and Payment"/>
  </form> 


  <a href="{{ url_for('coachhome') }}"><button class="coachbutton">Home</button></a>
</p>

{% endblock %}
