<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/main.css') }}"/>
        <title>Coach Travel</title>
    </head>

    <body>
        <div id="suleima-wrapper">
            <div class="header">
                <h1>Tosjosumbalie Travel</h1>
                <a href="{{ url_for('login') }}"><button class="signin">Log In</button></a>
            </div>

            <div class="row">
                <!--this is the menu on the left in desktop mode-->
                <div class="col-3 menu"> 
                    <ul>
                        <li>Air travel</li>
                        <li>Train travel</li>
                        <li>Coach travel</li>
                        <a href="{{ url_for('oscarindex') }}"><li>Taxi travel</li></a>
                        <li>Car hire</li>
                        <li>All travel options</li>
                    </ul>

                </div>

                <!--this is the main content part in desktop mode-->
                <div class="col-6">
                    <form method="POST"  class="fdesign">
                        <h1>Welcome to Coach travel</h1>
                        <label for="From">From: </label>
                        <input type="text" id="date" name="start" placeholder="From">
                        <label for="to">To: </label>
                        <input type="text" id="date" name="end" placeholder="To">
                        <br>
                        <label for="Departure Time">start date: </label>
                        <input type="date" id="date" name="date">
                        <label for="Arrival Time">end date: </label>
                        <input type="date" id="date" name="date">
                        <h3>Journey</h3>
                        <input type="radio" id="journey" name="journey" value="oneway">
                        <label for="journey">One-way ticket</label>
                        <input type="radio" id="journey" name="journey" value="returnticket">
                        <label for="journey">Return Ticket</label>
                        <br>
                        <h3>Passengers</h3>
                        <label for="quantity">Adults:</label>
                        <input type="number" id="date" name="quantity" min="1" max="45">
                        <label for="quantity">Children (Under 10):</label>
                        <input type="number" id="date" name="quantity" min="0" max="44"><br>
                        <input type="submit" id="sub" value="submit">




                    </form>

                </div>
                <!-- thi is the left side part in desktop mode-->
                <div class="col-3 right">
                    <div class="aside">

                        <h4>Don't have an account? Sign up here!</h4>
                        <h1>Register now!</h1>
                        <a href="{{ url_for('register') }}"><button>Register</button></a>

                    </div>
                </div>

            </div>
            <div class="footer">
                <p>this travel method is covered by Suleima Abbara - 19020111</p>
            
            </div>
        </div>
    </body>
</html>