
  <h1>This is the end of the basic booking process</h1> 
  <h2> booking details </h2>


    <form action="/oscarbookingconfirm/" method="POST">   
        Leaving City : {{lookupdata[0]}} <br/>
        <input type="hidden" name="leavecity" id="leavecity" value="{{lookupdata[0]}}"/>
        Arrival City : {{lookupdata[1]}} <br/>
        <input type="hidden" name="arrivalcity" id="arrivalcity" value="{{lookupdata[1]}}"/>
        Leaving date : {{lookupdata[2]}} <br/>
        <input type="hidden" name="leavedate" id="leavedate" value="{{lookupdata[2]}}"/>
        Number of seats : {{lookupdata[3]}} <br/>
        <input type="hidden" name="numseats" id="numseats" value="{{lookupdata[3]}}"/>
        

	  <table border = 1> 
        <tr>
            <th> Departure Time </th> <th> Arrival Time </th>  
            <th> Standard fare </th> <th> Total fare </th> 
            <th> Select option </th>
        </tr>
        
	    {% for row in resultset %}
	    <tr> 
            <td> {{row[2]}} </td> 
            <td> {{row[4]}} </td> 
            <td> {{row[5]}} </td>              
            <td> {{row[6]}} </td>
            <input type="hidden" name="totalfare" id="totalfare" value="{{row[6]}}"/>
            <td> <input type="radio" name="bookingchoice" value="{{row[0]}}" checked></td> 
        </tr> 
        
	   {% endfor %} 
	  </table>  
    <br/>
    <H2> Payment </H2>
      Full name on card: 
      <input type="text" name="cardname" id="cardname" /> <br/>
      Card number:
      <input type="number" name="cardnumber" id="cardnumber" max="9999999999999999" size="16"/> <br/>
      Card expiry:
      <input type="text" name="cardexpiry" id="cardexpiry" max="9999" size="4"/> <br/>
      CVV:
      <input type="number" name="cvv" id="cvv" max="999" size="3"/> <br/>
      <input type="submit" value="Confirm Booking and Payment"/>
    </form> 
    <a href="/">Go to Home Page</a>
  </p>



