{% block nav %}
<header>
    <div class="wrapper" id="header-wrapper">
        <div id="nav-title-container">
            <span>UWE Travel Site</span>
            <span>Car Hire</span>
        </div>
        <div id="nav-list-contaner">
            <nav>
                <ul>
                    <li><a href="{{url_for('viewbookings')}}">View Booking</a></li>
                    <li><a href="{{url_for('booktickets')}}">Book Ticket</a></li>
                    <li><a href="{{url_for('cancelbookings')}}">Cancel Booking</a></li>
                    <li><a href="{{url_for('login')}}">Sign Up / Login</a></li>
                    <li><a href="{{url_for('index')}}">Other Travel</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
{% endblock %}