{% extends "joe/layout.html" %} 

{% block title %}{{super()}} | Main Page{% endblock %}
}
{% block content %}
<div id="carhire-container">
    <section id="slideshow">
        <div id="slides">
            <img src="{{url_for('static', filename='images/joe/slideshowOne.jpeg')}}">
            <img src="{{url_for('static', filename='images/joe/slideshowTwo.jpg')}}">
            <img src="{{url_for('static', filename='images/joe/slideshowThree.jpg')}}">
            <div id="slideshow-progress"></div>
        </div>
    </section>
    <section id="cars">
        <table>
            <tr>
                <th>Manufacturer</th>
                <th>Brand</th>
                <th>Number of Seats</th>
                <th>Cost per Day</th>
                <th>Type of Car</th>
            </tr>
            {% for detail in carDetails %} 
            <tr>
                <td>{{ detail[0] }}</td>
                <td>{{ detail[1] }}</td>
                <td>{{ detail[2] }}</td>
                <td>£{{ detail[3] }}</td>
                <td>{{ detail[4] }}</td>
            </tr>
            {% endfor %}
            <button>Book a car today!</button>
        </table>
    </section>
    <section id="options">
        <div id="option">
            <span>Make a Booking</span>
        </div>
        <div id="option">
            <span>Delete a Booking</span>
        </div>
        <div id="option">
            <span>Change account details</span>
        </div>
        <div id="option">
            <span>Make a Booking</span>
        </div>
        <div id="option">
            <span>Book a ticket</span>
        </div>
        <div id="option">
            <span>View all your bookings</span>
        </div>
        
    </section>


</div>
{% endblock %}
