{% block nav %}
<header>
    <div class="wrapper" id="header-wrapper">
        <div id="nav-title-container">
            <span>UWE Travel Site</span>
            <span>Car Hire</span>
        </div>
        <div id="nav-list-contaner">
            <nav>
                <ul>
                    <li>View Booking</li>
                    <li>Book Ticket</li>
                    <li>Cancel Booking</li>
                    <li>Sign up / Login</li>
                    <li>Other Travel</li>
                </ul>
            </nav>
        </div>
    </div>
</header>
{% endblock %}