<form action="/register" method="POST">
    <label for="username"><b> Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required value="{{request.form.username}}">
    </br>
    <label for="password"><b> Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required value="{{request.form.password}}">
    </br>
    <label for="password"><b> Email</b></label>
    <input type="email" placeholder="Enter Email" name="email" required value="{{request.form.email}}">
    </br>
    </br>
    <input type="submit" value="Register">
</form>

<p style="color: red;">{{error}}</p>